/* making homepage responsive */
/* for tablet here */
@media screen and (max-width: 1024px) {
   .nav-toggle {
      display: block;
   }

   .nav-links {
      display: none;
   }

   .header-section {
      justify-content: center;
   }

   .header-right {
      display: none;
   }

   .header-left {
      margin-top: 150px;
      margin-bottom: 70px;
      background-image: url(./assets/astronaut\ bg\ image.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
   }

   .main-nav {
      padding-top: 1.2rem;
      padding-bottom: 1.5875rem;
   }

   .header-left h1 {
      width: min-content;
   }

   .header-left p {
      width: 60%;
      font-size: 1.1rem;
      text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.35);
   }

   .cta-btn {
      width: 10.5625rem;
      height: 2.8125rem;

      font-size: 1.1rem;
   }

   .features-section {
      height: fit-content;
      padding-bottom: 80px;
   }
   
   .service {
      gap: 140px;
   }

   .content p {
      font-size: 1.1rem;
      width: 17rem;
   }

   .content a {
      height: 2.4rem;
      width: 8.8rem;

      font-size: 1.15rem;

      margin-top: 2.5rem;
      margin-left: 48%;
   }

   footer {
      height: 4rem;
   }

   footer a {
      margin-block: 1.3rem;
   }

   .links {
      justify-content: space-between;
   }
}