/* for very large laptop */
@media screen and (width: 2560px) {
   .container {
      padding-inline: 300px;
   }

   .header-section {
      margin-top: 60px;
      gap: 50px;
   }

   .header-section img {
      width: 1000px;
   }

   .header-left h1 {
      font-size: 72px;
   }

   .header-left p {
      font-size: 27.2px;
      font-weight: 300;
      width: fit-content;
      text-align: left;
   }

   .cta-btn {
      width: 249px;
      height: 72.2px;

      font-size: 27.2px;
      font-weight: 400;
   }
}

/* for large Laptop */
@media screen and (max-width: 1440px) {
   .nav-links ul {
      gap: 48px;
   }

   .header-section {
      margin-top: 60px;
      gap: 50px;
   }

   .header-section img {
      width: 600px;
   }

   .header-left h1 {
      font-size: 56px;
   }

   .header-left p {
      font-size: 19.2px;
      font-weight: 300;
      width: fit-content;
      text-align: justify;
   }

   .cta-btn {
      width: 169px;
      height: 45px;

      font-size: 17.6px;
   }

   .features-section {
      height: fit-content;
      padding-bottom: 80px;
   }
}

/* for medium laptop or big tablets */
@media screen and (max-width: 1024px) {
   .nav-toggle {
      display: block;
      z-index: 100;
   }

   /* hamburger menu */
   .nav-links {
      position: absolute;
      top: 0%;
      right: -100%;

      z-index: 10;

      width: 100%;
      height: 100vh;

      /* to allow scroll when needed */
      overflow-y: auto;

      padding-top: 150px;
      padding-bottom: 100px;

      background-color: rgba(0, 0, 0, 0.9);

      transition: all 0.2s linear;
   }

   .nav-links.active {
      right: 0%;
   }

   .nav-links ul {
      flex-direction: column;

      gap: 3rem;
      
      font-size: 1.5rem;
   }

   .header-section {
      justify-content: center;
      margin-top: 0;
      gap: 0;
   }

   .main-nav {
      padding-top: 19.2px;
      padding-bottom: 25.4px;
   }

   .header-right {
      display: none;
   }

   .header-left {
      margin-top: 150px;
      margin-bottom: 70px;
      background-image: url(./assets/astronaut\ bg\ image.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
   }

   .header-left h1 {
      width: min-content;
   }

   .header-left p {
      width: 60%;
      font-size: 17.6px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      text-align: left;
      font-weight: 350;
   }

   .cta-btn {
      width: 169px;
      height: 45px;

      font-size: 17.6px;
   }

   .icons {
      column-gap: 96px;
   }

   .features-section {
      height: fit-content;
      padding-bottom: 80px;
   }

   .service {
      gap: 80px;
   }

   .content p {
      font-size: 17.6px;
      width: 272px;
   }

   .content a {
      height: 38.4px;
      width: 140.8px;

      font-size: 18.4px;

      margin-top: 40px;
      margin-left: 48%;
   }

   footer {
      height: 64px;
   }

   footer a {
      margin-block: 20.8px;
   }

   .links {
      justify-content: space-between;
   }
}

/* for tablets */
@media screen and (max-width: 768px) {
   .container {
      padding-inline: 50px;
   }

   .header-left {
      margin-top: 150px;
      margin-bottom: 60px;
   }

   .header-left h1 {
      width: fit-content;
      font-size: 46.4px;
      margin-bottom: 10px;
   }

   .header-left p {
      width: 60%;
      font-size: 14.4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      text-align: left;
      font-weight: 300;
      margin-bottom: 15px;
   }

   .cta-btn {
      width: 136px;
      height: 36.8px;

      font-size: 12.8px;
      font-weight: 400;
   }

   .features-section {
      padding-bottom: 60px;
   }

   .features-section h2 {
      padding-top: 40px;
   }

   .contentbox {
      gap: 10px;
   }

   .box {
      width: 243px;
      height: 247px;
   }

   .box lord-icon {
      width: 112px;
      height: 112px;
   }

   .box p {
      font-size: 12.8px;
   }

   .about-section h2 {
      margin-bottom: 0;
   }

   .icons {
      column-gap: 48px;
   }

   .icon-width {
      width: 65px;
      margin-left: 20%;
   }

   .services-section h2 {
      padding-block: 32px;
      font-size: 24px;
   }

   .service {
      width: 100%;
      height: 352px;

      padding-inline: 32px;
   }

   .content p {
      font-size: 16px;
      width: 272px;
      font-weight: 400;
   }

   .subheading {
      margin-bottom: 48px;
      margin-top: 15px;
   }

   .content a {
      height: 32px;
      width: 128px;

      font-size: 16px;
      margin-left: 52.5%;
   }

   .services-section {
      height: 960px;
   }

   footer a {
      font-size: 16px;
      margin-block: 20.8px;
   }

   .subfooter a {
      font-size: 16px;
   }

   .subfooter lord-icon {
      width: 32px;
      height: 32px;
   }
}

/* for large Mobiles */
@media screen and (max-width: 430px) {
   .container {
      padding-inline: 30px;
   }

   /* nav bar */
   .main-nav {
      padding-top: 19.2px;
      padding-bottom: 25.4px;

      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
   }

   .project-logo {
      margin: 0;
   }

   /* hero section */
   .for-mobile {
      display: block;
   }

   .intro-text {
      display: none;
   }

   .intro-text-in-mobile {
      display: block;
   }

   .for-mobile img {
      z-index: -1;

      width: 100%;

      position: absolute;
      left: 50%;
      top: 10%;
      transform: translate(-50%, 0);

      border-bottom-left-radius: 6%;
      border-bottom-right-radius: 6%;
   }

   .header-right {
      display: none;
   }

   .header-left {
      margin-top: 462px;
      margin-bottom: 30px;
      background: none;
   }

   .header-left h1 {
      width: 100%;
      text-align: center;
      font-size: 48px;
      line-height: 52.8px;
      font-weight: 700;
      margin-bottom: 8px;
   }

   .header-left p {
      width: 100%;
      padding-inline: 40px;
      font-size: 16px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
      text-align: center;
      font-weight: 300;
      margin-bottom: 19px;
   }

   .cta-btn {
      width: 50%;

      font-size: 17.6px;
      font-weight: 400;

      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
   }

   /* features section */
   .features-section {
      padding-bottom: 50px;
   }

   .features-section h2 {
      font-size: 20.8px;
   }

   .box {
      width: 80%;
   }

   .box p {
      font-size: 13.6px;
      text-align: center;
   }

   /* about section */
   .about-section {
      padding-bottom: 5px;
   }

   .about-section h2 {
      font-size: 20.8px;
      padding-top: 40px;
   }

   .icons {
      row-gap: 0;
      column-gap: 0;

      padding: 24px 0;
   }

   .icon-width {
      width: 50px;
      margin-left: 27%;
   }

   /* service section */
   .services-section {
      background-color: var(--secondary-bg-color);
      max-width: 100%;
      height: auto;
      padding-bottom: 80px;
   }

   .services-section h2 {
      font-size: 20.8px;
      padding-bottom: 15px;
   }

   .cards {
      gap: 20px;
   }

   .service {
      flex-direction: column;
      gap: 0;

      background-image: url(./assets/Rectangle\ 3.svg);

      height: 432px;
   }

   .subheading {
      text-align: center !important;
      margin-bottom: 19.2px;
      margin-top: 16px;
   }

   .content {
      align-items: center;
      justify-content: center;
   }

   .content p {
      font-size: 12.8px;
      text-align: center;
      line-height: 1.5;
   }

   .content a {
      height: 16%;
      width: 43%;

      padding-block: 12px;
      padding-inline: 0;

      font-size: 13.6px;
      font-weight: 400;

      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 60%;
   }

   /* footer section */
   footer {
      height: auto;
      padding-block: 20px;
   }

   .links {
      flex-direction: column;
   }

   footer a {
      margin: 15px;
   }
}

/* for medium Mobiles */
@media screen and (max-width: 375px) {
   .header-section {
      padding-bottom: 25px;
   }

   .header-left {
      margin-top: 410px;
   }

   .header-left h1 {
      font-size: 40px;
      line-height: 43.2px;
      margin-bottom: 16px;
   }

   .header-left p {
      font-size: 17.6px;
      margin-bottom: 24px;
   }

   .cta-btn {
      font-size: 14px;
      width: fit-content;
   }

   /* features section */
   .features-section h2 {
      font-size: 19.2px;
   }

   .box {
      width: 100%;
   }

   /* about section */
   .about-section {
      padding-bottom: 5px;
   }

   .about-section h2 {
      font-size: 19.2px;
   }

   .icons {
      grid-template-rows: 100px 100px 100px 100px;
      grid-template-columns: 100px 100px 100px;
   }

   .item4 {
      grid-area: 4 / 1 / 4 / 2;
   }

   .item8 {
      grid-area: 4 / 2 / 4 / 3;
   }

   .item12 {
      grid-area: 4 / 3 / 4 / 4;
   }

   /* service section */
   .services-section {
      padding-bottom: 60px;
   }

   .services-section h2 {
      font-size: 19.2px;
   }
}

/* for small Mobiles */
@media screen and (max-width: 320px) {
   .container {
      padding-inline: 20px;
   }

   .header-section {
      padding-bottom: 25px;
   }

   .header-left {
      margin-top: 357px;
   }

   .header-left h1 {
      font-size: 35.2px;
   }

   .header-left p {
      font-size: 14.4px;
   }

   .cta-btn {
      font-size: 14.4px;
      padding: 0;
      padding-inline: 15px;
   }

   /* features section */
   .features-section h2 {
      font-size: 16px;
   }

   .box {
      width: 85%;
   }

   .box p {
      font-size: 12.8px;
   }

   /* about section */
   .about-section {
      padding-bottom: 5px;
   }

   .about-section h2 {
      font-size: 16px;
   }

   /* service section */
   .services-section {
      padding-bottom: 60px;
   }

   .services-section h2 {
      font-size: 17.6px;
   }

   .service {
      width: 100%;
      padding-inline: 5%;
   }

   .content p {
      font-size: 12px;
      width: 208px;
   }

   .content a {
      height: 32px;
      width: 60%;

      margin-left: 0;
      margin-right: 42.5%;
   }
}