/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* default resets for all elements */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --navbar-gradient-light-color: #FE9145;
   --navbar-gradient-dark-color: #1E0D2F;
   --navbar-text-color: #FFFFFF;

   --intro-text-color: #F4E9FF;
   --section-primary-text-color: #EBD8FF;
   --section-highlighter-text-color: #FC934F;

   --keywords-text-color: #FD9550;
   --heading-text-color1: #FD9550;
   --heading-text-color2: #130D19;
   --sub-heading-text-color: #FFFFFF;

   --contentbox-gradient-endcolor: #1F0E30;


   --btn-bg-color: #EE6418;
   --btn-hover-bg-color: #dd5c16;
   --btn-text-color: #FFFFFF;


   --primary-bg-color: #130D19;
   --secondary-bg-color: #000000;
   --tertiary-bg-color: #FFFFFF;

   --footer-bar-color: #FE9146;
   --footer-primary-text-color: #1E0E2E;

   --contact-btn-outline-color: #EE6418;
   --contact-btn-primary-text-color: #FFFFFF;
   --contact-btn-hover-bg-color: #EE6418;
   --contact-btn-hover-text-color: #130D19;

   --padding-inline-section: 6.6875rem;
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--section-primary-text-color);
   background-color: var(--primary-bg-color);
}

h2 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-style: normal;

   margin-top: 170px;

   color: var(--heading-text-color1);
}

p {
   font-family: "Montserrat", sans-serif;
   font-weight: 200;
   font-style: normal;
}

a {
   text-decoration: none;
   display: inline-block;

   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 500;
}

/* utility classes */

.container {
   padding-inline: var(--padding-inline-section);
}

.flex {
   display: flex;
   align-items: center;
}

/* nav bar */
.main-nav {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;

   background-image: linear-gradient(to right, var(--navbar-gradient-light-color), var(--navbar-gradient-dark-color));

   box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.35);

   height: 5rem;

   padding-top: 1.6875rem;
   padding-bottom: 1.6875rem;

   border-bottom-left-radius: 2.5rem;
   border-bottom-right-radius: 2.5rem;

   font-size: large;

   z-index: 10;
}

.project-logo {
   margin-top: .35rem;
   cursor: pointer;

   transition: all .2s linear;
}

.project-logo img {
   width: 160px;
   height: fit-content;
}

.project-logo:hover {
   transform: scale(1.05) rotate(-2deg);
}

/* developers info */

.info {
   flex-direction: column;
   text-align: center;

   margin-inline: 269px;
}

.content {
   margin-top: 77px;
}

.name {
   font-size: 25px;
   font-weight: 500;

   margin-bottom: 15px;
}

/* subfooter contant us button */

.subfooter a {
   font-size: 1.25rem;
   font-weight: 400;
   color: var(--contact-btn-primary-text-color);

   cursor: pointer;
}

.subfooter lord-icon {
   width: 2.5rem;
   height: 2.5rem;
}

.contact-btn {
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);

   justify-content: center;

   width: 40%;
   height: 3.2rem;

   border: none;
   background-color: var(--contact-btn-outline-color);
   border-radius: 1rem;

   margin-block: 5rem;

   padding: 0;
   padding-inline: 2.0625rem;

   gap: 1rem;

   transition: background-color .3s ease;
}

.contact-btn:hover {
   box-shadow: 0 0 10px var(--navbar-gradient-light-color);
}

/* RESPONSIVE CODE */

@media screen and (max-width: 1024px) {
   .info {
      margin-inline: 80px;
   }

   .content {
      margin-top: 50px;
   }

   .name {
      font-size: 25px;
      font-weight: 500;

      margin-bottom: 10px;
   }
}

@media screen and (max-width: 768px) {
   .project-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }
}

@media screen and (max-width: 425px) {
   .container {
      padding: 0;
   }

   .project-logo {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }

   .info h2 {
      font-size: 1.3rem;
   }

   .content p {
      font-size: 1.2rem;
   }

   .content p:nth-child(2) {
      font-size: .8rem;
   }

   .contact-btn {
      width: 55%;
      margin-top: 50px;
   }
}

@media screen and (max-width: 375px) {
   .info {
      margin-inline: 70px;
   }

   .info h2 {
      margin-top: 130px;
   }

   .content p {
      font-size: 1.1rem;
   }
}

@media screen and (max-width: 320px) {
   .info h2 {
      font-size: 1.2rem;
   }

   .content p {
      font-size: 1.1rem;
   }

   .subfooter a {
      font-size: 1rem;
   }

   .contact-btn {
      width: 70%;
      height: 2.7rem;
   }

   .subfooter lord-icon {
      width: 2rem;
      height: 2rem;
   }
}